:root {
    --turq: rgb(100, 216, 177);
    --turq7: rgba(100, 216, 177, 0.7);
    --turq5: rgba(100, 216, 177, 0.5);
    --turq3: rgba(100, 216, 177, 0.3);
    --turq1: rgba(100, 216, 177, 0.1);
    --purp: rgb(131, 65, 216);
    --purp7: rgba(131, 65, 216, 0.7);
    --purp5: rgba(131, 65, 216, 0.5);
    --purp3: rgba(131, 65, 216, 0.3);
    --purp1: rgba(131, 65, 216, 0.1);
  }


body {
  display: flex;
  flex-direction: column;
  line-height: 1.3;
  margin: 0;
}


/* header section */
.header { /* header container */
  display: flex;
  flex-wrap: wrap;
}

.header-side { /* header left column */
  display: flex;
  flex: 30%;
  padding: 20px;
  justify-content: center;
  align-items: center;
}

#profpic { /* header picture (in header left column) */
  display: flex;
  height: 350px;
  width: 350px;
  object-fit: scale-down;
}

.header-main { /* header right column */
  flex: 50%;
  font-size: 75px;
  padding-left: 50px;
}

#name { /* header name (in header right column) */
  text-align: left;
  margin-top: 100px;
  font-family: Georgia, serif;
}

.navbar { /* navigation bar (in header right column)*/
  display: flex;
  font-size: small;
  color: black;
}

.navbar a { /* navbar links */
  display: flex;
  display: inline block; /* sets navbartexttip container */
  position: relative; /* sets navbartexttip container */
  color: black;
  background: var(--purp3);
  width: 130px;
  border-radius: 10px;
  margin: 2px;
  height: 50px;
  text-decoration: none;
  justify-content: center;
  align-items: center;
  font-family:'Gill Sans', 'Gill Sans MT', 'Trebuchet MS', sans-serif;
  font-size: 18px;
}

.navbar a:hover { /* navbar links on hover */
  background-color: var(--purp1);
  color: var(--turq);
}

.navbar .navbartexttip { /* navbar links tip on hover */
  visibility: hidden;
  width: 60px;
  background-color: transparent;
  color: black;
  text-align: center;
  font-style: italic;
  font-size: x-small;
    color: var(--turq);
  border-radius: 6px;
  padding: 5px 0;
  position: absolute;
  bottom: 28px;
  z-index: 1;
}

.navbar a:hover .navbartexttip {
  visibility: visible;
}





/* turquoise gradient section headers */
.title-container { /* turq header bar */ 
  display: flex;
  flex-wrap: wrap;
  background-color: var(--turq7);
  background-image: linear-gradient(to bottom right, var(--turq5), var(--purp5));
  margin: 50px 10px 10px 10px;
  height: 75px;
  border-radius: 10px;
  align-items: center;
}

.title-container h1 {  /* turq header bar text */
  font-family: Georgia, serif;
  font-size: 35px;
  margin-left: 20px;
  color: white;
  font-weight: lighter;
  text-shadow: 2px 2px 5px black;
}




/* about me section */
.about p {  
  font-family:'Gill Sans', 'Gill Sans MT', 'Trebuchet MS', sans-serif;
  font-size: 20px;
  margin-left: 20px;
  margin-bottom: 10px;
}





/* portfolio polaroid layout  */
.item { /* portfolio polaroid box  */
  width: 100%;
  padding: 15px;
}

.polaroid { /* portfolio polaroid color and shadow  */
  background: #fff;
  padding: 10px;
  box-shadow: 0 2px 5px rgba(0,0,0,0.2);
}

.polaroid a > img{ /* portfolio polaroid image formatting  */
  max-width: 100%;
  height: auto;
}

.polaroid-caption { /* portfolio polaroid caption - application name  */
  font-family: 'Gill Sans', 'Gill Sans MT', 'Trebuchet MS', sans-serif;
  font-size: 1em;
  text-align: center;
  line-height: 30px;
  padding-top: 10px;
}

.polaroid-link { /* portfolio thumbnail link container */
  position: relative;
  display: block;
}





/* portfolio section */
.work-container { /* work portfolio thumbnail link container */
  display: flex;
  flex-wrap: wrap;
  background-color: var(--purp3);
  padding: 15px;
  justify-content: center;
  margin: 10px;
  border-radius: 10px;
}

.work-first-row { /* first application row */
  position: relative;
  flex: 100%;
  width: 100%;
  justify-content: center;
  margin-top: 5px;
  padding: 0 10px;
}

.work-column { /* work portfolio thumbnail 4 columns - except first application */
  position: relative;
  flex: 25%;
  width: 25%;
  justify-content: center;
  margin-top: 5px;
  padding: 0 10px;
}

.work-first-row img { /* work portfolio first thumbnail image */
  display: block;
  width: 100%;
}

.work-column img { /* work portfolio thumbnail images */
  display: block;
  width: 100%;
  filter: grayscale(100%);
  transition: .5s ease;
}

.work-first-row:hover { /* portfolio active thumbnail links hover border */
  border-style: solid;
  border-width: 1px;
  border-color: gray;
  padding: 5px;
  filter:none;
}

.work-column:hover { /* portfolio inactive thumbnail link hover border */
  border-style: solid;
  border-width: 1px;
  border-color: gray;
  padding: 5px;
  filter:none;
}


/* portfolio active thumbnail ALL hover behavior */
.overlay-active { /* portfolio active thumbnail hover purple overlay */
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  opacity: 0;
  transition: .2s ease;
  background-color: var(--purp5);
}

.overlay-active-text-bar { /* portfolio active thumbnail hover white text bar overlay */
  position: absolute;
  bottom: 42.5%;
  width: 100%;
  height: 15%; 
  transition: .2s ease;
  background-color: rgba(255, 255, 255, .9);
}

.text-active { /* portfolio active thumbnail text */
  color: black;
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: 2vw;
  font-style: bold;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
}

.work-first-row:hover .overlay-active { /* portfolio active thumbnail text visibility on hover  */
  opacity: 1;
}






/* portfolio inactive thumbnail ALL hover behavior */
.overlay-inactive { /* portfolio inactive thumbnail hover */
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  opacity: 0;
  transition: .2s ease;
}

.text-inactive { /* portfolio inactive thumbnail text */
  color: black;
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: 16px;
  font-style: italic;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
}

.work-column:hover .overlay-inactive { /* portfolio inactive thumbnail text visibility on hover  */
  opacity: 1;
}

.work-column:hover img { /* portfolio inactive thumbnail text visibility on hover  */
  filter: none;
}





/* contact section */
.contact-container { /* contact information container */
  display: flex;
  flex-direction: row;
  margin: 10px;
  border-radius: 10px;
}

.contact a { /* contact links */
  display: flex;
  flex-wrap: nowrap;
  color: black;
  background: var(--purp3);
  border-radius: 10px;
  margin: 2px;
  height: 50px;
  text-decoration: none;
  justify-content: center;
  align-items: center;
  font-family:'Gill Sans', 'Gill Sans MT', 'Trebuchet MS', sans-serif;
}

.email-container { /* contact form container */
  display: flex;
  border-radius: 10px;
  background-color: var(--purp1);
  padding: 20px;
  margin: 10px;
  justify-content: center;
  font-family: 'Gill Sans', 'Gill Sans MT', 'Trebuchet MS', sans-serif;
  text-shadow: 1px 1px 3px var(--purp5);
}

.contact a:hover { /* contact links on hover */
  background-color: var(--purp1);
  color: var(--turq);
}

input[type=text], select, textarea {  /* contact form text entry boxes */
  width: 100%;
  padding: 10px;
  border: none;
  border-radius: 5px;
  box-sizing: border-box;
  margin-top: 3px;
  margin-bottom: 16px;
  resize: vertical;
  font-family: 'Courier New', Courier, monospace;
  font-size: 14px;
}

input[type=submit] { /* contact form submit button */
  background-color:var(--purp3);
  font-family:'Gill Sans', 'Gill Sans MT', 'Trebuchet MS', sans-serif;
  color: black;
  padding: 10px 20px;
  border: none;
  border-radius: 10px;
  cursor: pointer;

}

input[type=submit]:hover { /* contact form submit button on hover */
  background-color: var(--purp1);
  color: var(--turq);
}




/* footer section */
.footer h1 {  /* footer text */
  margin-top: 50px;
  font-family: 'Courier New', Courier, monospace;
  text-align: center;
  font-size: small;
}





/* Responsive layout */
@media screen and (max-width: 992px) {
  .header { /* flexboxes stack */   
    flex-direction: column;
  }
  #name { /* left align to center */
    text-align: center;
    margin-top: 25px;
  }
  .navbar { /* left align to center */  
    justify-content: center;
  }
  .work-column { /* 4 to 2 column layout */
    flex: 50%;
    width: 50%;
  }
}

@media screen and (max-width: 768px) {
  .header { /* flexboxes stack */ 
    flex-direction: column;
  }
  #name { /* left align to center */
    text-align: center;
    margin-top: 25px;
  }
  .navbar { /* left align to center */ 
    justify-content: center;
  }
  .work-column { /* 4 to 1 column layout */
    flex: 100%;
    width: 100%;
  }
}
